<div id="post_content">
  <h1 class="title">
    <%= @post.title %>
  </h1>
  <p class="body">
    <%= @post.body %>
  </p>
  <p class="date">
    Posted <%= time_ago_in_words(@post.created_at) %> ago
  </p>
  <div class="buttons">
    <button class="button"><%= link_to 'Edit', edit_post_path(@post) %></button>
    <button class="button"><%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?'} %></button>
  </div>
</div>
